<div class="container">
  <h2>User settings</h2>
  <form>
    <div class="form-group">
      <label for="name"></label>
      <input id="name" name="name" class="form-control" placeholder="Name">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="emailoffers" name="emailoffers">
      <label for="" class="form-check-label" for="emailoffers">
        Email Special Offers
      </label>
    </div>
  <button class="btn btn-primary">Send</button>
  </form>
</div>
